#footer {
  background: var(--black);
  border-top: 3px solid var(--primary);
  padding: 1.5rem 1rem;
  color: var(--white);
  text-align: center;

  img {
    margin-bottom: 1rem;
  }

  @media (max-width: 800px) {
    margin-bottom: 50px;
  }

  p {
    color: var(--primary)
  }

}
